/* General Styling */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  color: #333333;
  height: calc(100vh-48px);
  font-family: 'Lobster', cursive;
}

h1{
  font-weight: normal;
}

h2{
  font-weight: normal;
}

button{
  display: block;
  margin: 0 auto;
  font-family: 'Lobster', cursive;
}


/* header */

header{
  height: 70px;
  text-align: center;
  background-color: #449FAF;
  padding-top: 10px;
}

/* main */

.section{
  height: 435px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.textInput{
  margin: 40px auto 10px;
  padding: 5px;
  font-family: 'Lobster', cursive;

}

::placeholder{
  font-size: 18px;
  font-family: 'Lobster', cursive;
}

.btn{
  width: 28%;
  height: 12%;
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #449FAF;
  color: white;

}

.text{
  margin-bottom: 5px;
}

.outDiv{
  border: 1px solid black;
  overflow: scroll;
  padding: 5px;

}


/* footer */

footer{
height: 120px;
text-align: center;
background-color: #449FAF;
padding-top: 15px;
}
